
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    background: #2F3136;
    height: 70px;
}
.nav h4 {
    color: #FFFFFF !important;
}
.nav .pokeballContain {
    /*border-radius: 50%;*/
    /*border: 2px solid lightskyblue;*/
}

.nav .pokeball:focus {
    outline: none;
}
.nav .buttonInner {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /*border: 5px solid lightskyblue;*/
    outline:none
}
.nav .pokeball {
    position: relative;
    height: 44px;
    width: 44px;
    border: 2px solid black;
    border-radius: 50%;
}
.nav .buttonInner:focus {
    height: 48px;
    width: 48px;
    margin: 1px;
    border: 2px solid darkorange;
}
.nav .buttonInner {
    border: 3px solid lightskyblue;
}
.border {
    border: white;
    height: 100%;

}
.dropdown-toggle::after {
    display: none !important;
}
