/*Navbar {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding-left: 0;*/
/*    margin-bottom: 50px;*/
/*    background: #2F3136;*/
/*    height: 70px;*/
/*}*/
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    background: #2F3136;
    height: 70px;
}
.nav h4 {
    color: #FFFFFF !important;
}
.nav .pokeballContain {
    /*border-radius: 50%;*/
    /*border: 2px solid lightskyblue;*/
}

.nav .pokeball:focus {
    outline: none;
}
.nav .buttonInner {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    outline:none
}
.nav .pokeball {
    position: relative;
    height: 44px;
    width: 44px;
    border: 2px solid black;
    border-radius: 50%;
}
.closedPokeball {
    border: 3px solid lightskyblue;
}

.openPokeball {
    border: 3px solid darkorange;
}

.dropdown-toggle::after {
    display: none !important;
}











