.btn-circle {
    width: 100px;
    height: 100px;
    padding: 6px 0px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.water {
    background-color: #6390F0;
}
.grass {
    background-color: #7AC74C;
}
.fire {
    background-color: #EE8130;
}
.flying {
    background-color: #A98FF3;
}
.fighting {
    background-color: #C22E28;
}
.poison {
    background-color: #A33EA1;
}
.electric {
    background-color: #F7D02C;
}
.ground {
    background-color: #E2BF65;
}
.rock {
    background-color: #B6A136;
}
.ice {
    background-color: #96D9D6;
}
.bug {
    background-color: #A6B91A;
}
.dragon {
    background-color: #6F35FC;
}
.ghost {
    background-color: #735797;
}
.dark {
    background-color: #705746;
}
.normal {
    background-color: #A8A77A;
}
.psychic {
    background-color: #F95587;
}
.fairy {
    background-color: #D685AD;
 }
.steel {
    background-color: #B7B7CE;
  }